@media screen and (max-width:1000px){
    .companylogo a img {
        width: 3.5rem;
    }
    .dropdown {
        right: 1vw;
        top: 2vw;
    }
    
    .hero-section {
        display: block;
        text-align: center;
    }
    .hero-section img {
        width: 15rem;
    }

    .hero-section .text h1 {
        font-size: 60px;
        letter-spacing: 2px;
    }
    
    .hero-section .text p{
        width: auto;
        padding: 0 10px;
    }

    .yellow {
        margin-top: 15px;
    }

    .services {
        display:block;
        padding: 4% 5%;
        margin-top: 20px;
    }

    .services .card {
        margin: 20px 0;
    }

    .dropdown {
        margin: 7.5vw;
    }

    main .menu .menu-grid {
        width: 90vw;
        height: 90vw;
    }

    .footer-grid {
        display: block;
    }

    .footer-grid > div {
        margin-top: 20px;
    }

    .footer-grid h4 {
        margin-bottom: 15px;
    }
}
